#square {
    border: solid 1px lightgreen;
    width: 400px;
    height: 500px;
    margin: auto;
    position:relative;
}

.box {
    width: 50px;
    height: 50px;
    box-sizing: border-box;
}