body {
    background: rgb(212, 211, 211);
}
  
.grid {
    width: 200px;
    height: 200px;
    border: 1px solid red;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
  
.grid div {
    width: 20px;
    height: 20px;
    /*border:1px black solid;
  box-sizing:border-box*/
}
  
.snake {
    background: blue;
}

.scoreDisplay {
    border: solid 2px red;
    margin: 10px auto;
    width: 30px;
    height: fit-content;
    text-align: center;
}

.button {
    width: 200px;
    height: fit-content;
    margin: 10px auto;
}
  
.apple {
    background: yellow;
    border-radius: 20px;
}
  
.popup {
    background: rgb(32, 31, 31);
    width: 100px;
    height: 100px;
    position: fixed;
    top: 100px;
    left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}