.prev{
    cursor: pointer;
    width: auto;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    top: 60%;
    left: 25%;
    position: absolute;
}
  
.next {
    cursor: pointer;
    width: auto;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 20px;
    top: 60%;
    right: 25%;
    position: absolute;
    border-radius: 3px 0 0 3px;
}
  
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.row {
    margin: auto;
    width: 45%;
    display: flex;
    justify-content: space-around;
}

.demo {
    width: 140px;
    height: 140px;
    opacity: 0.7;
}

.demo:hover {
    opacity: 1;
}

.slider_cont {
    width: 40%;
    height: 350px;
    border: solid 2px darkblue;
    padding: 10px;
    margin: 10px auto;
}

.slider_square {
    border: solid 1px;
    margin: 4% auto;
    width: 70%;
    height: 300px;
}

.slider {
    width: 100%;
    height: 300px;
}