input {
    padding: 8px;
    background-color: lightblue;
    border: solid 1px;
    outline: none;
}

button {
    border: solid 1px;
    padding: 8px;
    background-color:blueviolet;
    color: white;
}