.container {
    border: solid 1px;
}

table{
    border: solid 1px;
    border-collapse: collapse;
}
td{
    border: solid 1px;
}

td tr {
    border: solid;
}

.box1, .box2{
    border: solid lightgreen;
    width: 500px;
    margin-top: 5px;
}

.inBox{
    border:solid rgb(134, 1, 1);
    background-color: green;
    width: 200px;
}

.wrapbox{
    width: 20px;
}

button {
    margin: 5px;
}
